/* RESET - START */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* RESET - END */

body {
    margin: 1rem auto;
    width: 80%;
    max-width: 50rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > h1,
body > h2,
body > h3 {
    text-align: center;
    padding: 0.5rem;
}

hr.styled-sep {
  margin: 1rem auto;
  max-width: 50%;
}

.form-container {
  margin: 1.5rem auto;
  padding: 1rem;
  float: left;
  border: 3px outset rgba(0, 158, 212, 0.13);
}

.form-intro {
  padding: 0.2rem 0 1rem;
  font-size: 1rem;
}

label {
  padding: 0.5rem 0.5rem 0.3rem 0;
  min-width: 7.5rem;
  display: inline-block;
  vertical-align: top;
}

fieldset {
  margin: 1rem 0;
  padding-top: 0.7rem;
  border: 1px solid rgba(158, 158, 158, 0.14);
}

fieldset:first-of-type {
  margin-top: 0;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.3rem 1rem 0.3rem 0.5rem;
  width: calc(100% - 8rem);
  border: 1px solid rgba(158, 158, 158, 0.39);
}

input[type="submit"],
input[type="button"] {
    margin: 1rem auto;
    padding: 0.5rem 4rem;
    display: flex;
    border-radius: 1rem;
    border: 1px solid rgb(188, 182, 166);
    background-color: rgb(240, 238, 233);
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: rgba(227, 214, 207, 0.8);
}